*{
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-image: url(av2.jpg);
    background-size: cover;
    background-attachment: scroll;
    margin: 0%;
    padding: 0%;
    
}
.menu{
    width: 100%;
    height: 80px;
    background-color: rgba(34, 34, 34, 0.9);
    padding: 0%;
    margin: 0px;
    border-bottom: 3px #fea821 solid;
}
.logo img{
    width: 220px;
    height: 65px;
    float: left;
    margin: 0px;
    padding-left: 20px;
    padding-top: 7px;
}

.rightmenu{
    width: 75%;
    height: 100px;
    float: right;
}
.rightmenu ul{
    margin-left: 400px;
}
.rightmenu ul li {
    display: inline-block;
    font-weight: bold;
    margin-top: 20px;
    
    margin-left: 20px;
    
}
.rightmenu a{
    float : right;
    text-decoration: none;
    color: white;
    border: 1px #fea821 solid;
    border-radius: 5px;
    padding:6px;
}
.rightmenu a:hover{
    background: #fea821;
    color: black;
}
.active a{
    background: #fea821;
    color: black;
}

body{
    background: url("filmrole.jpg");
    background-attachment: fixed;
    border: 3px #fea921 solid;
}
.container-1 , .container-2, .container-3{
    display: flex;
}
.container-1 div , .container-2 div , .container-3 div{
    padding: 30px;
    margin-left:40px;
    margin-top: 10px;
}
.container-1 img, .container-2 img, .container-3 img{
    border: 5px white solid;
    border-radius: 5px;
    margin-bottom: 15px;
    transition: 1s;
    padding: 0px;
    width: 200px;
    height: 300px;
}
.container-1 img:hover,.container-2 img:hover,.container-3 img:hover {
    transform: scale(1.1);
    border: 5px orange solid;
}
h3{
    color: white;
}
.social{
    
    position: fixed;
    top: 30%;
    right: -2%;
    width: 200px;
    display: flex;
    flex-direction: column;
}
.social a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Oswald',sans-serif;
    margin: 2px;
    text-align: left;
    border-radius: 50px 0px 0px 50px;
    transform: translate(115px, 0px);
    transition: all 1s;

}
.social a:hover{
    transform: translate(0px, 0px);
    color: white;
}
.facebook{
    background-color: #3b5998;
    color: white;
}
.instagram{
    background-color: #dd2a7b;
    color: white;
}
.youtube{
    color: white;
    background-color: #c4302b;
}
.twitter{
    background-color: #00acee;
    color: white;
}
.social a i{
    margin: 10px;
    background-color: white;
    height: 40px;
    width: 40px;
    color: black;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.5s;
}
.social a:hover i{
    transform: rotate(360deg);
}
.social a i.fa-facebook-square{
    color: #3b5998;
}
.social a i.fa-instagram{
    color: #dd2a7b;
}
.social a i.fa-twitter-square{
    color: #00acee;
}
.social a i.fa-youtube{
    color: #c4302b;
}
.footer{
    width: 100%;
    height: 70px;
    background: rgb(29, 28, 28);
    padding-top: 20px;
    border-top: 3px #fea821 solid;
}
.footer ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
    
}
.footer ul li{
    display: inline-block;
    margin: 0px 20px;
}
.footer ul li a{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color:#fff;
    text-transform: uppercase;
}
.footer ul li a:hover{
    color: #fea821;
}
a{
    text-decoration: none;
    outline: none;
}
.footer-bottom{
    width: 100%;
    height: auto;
    margin:auto;
    background: #fea821;
    padding:5px;
}
.footer-bottom{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 800;
    
}
.footer h5{
    text-align: center;
    font-size: 16px;
    margin-top: 13px;
    color: #fff;
    letter-spacing: 2px;
}
.footer-bottom .footer-active{
    color: #fea821;
}